---

import NavBar from "../components/NavBar.astro";
import { getImageSpotify, spotifyToken } from "../utils";
import LayoutReview from "./LayoutReview.astro";

export const prerender = false;

const { frontmatter } = Astro.props;

const release = frontmatter.data;

const dateRelease = new Date(release.releaseDate).toLocaleDateString("en-US", {
	day: "numeric",
	month: "short",
	year: "numeric",
});
const color = release.color

const spotifyID = release.spotifyUrl.split("/")[5].split("?")[0]
//const spotifyImg = getImageSpotify(spotifyID)
//const spotifyData = await fetch(`https://api.spotify.com/v1/albums/${spotifyID}`,{method:"GET", headers:{'Authorization':`Bearer ${spotifyToken}`}}).then(res => res.json())

//const img = spotifyImg ? spotifyImg : release.img;
const img = release.img
---

<LayoutReview
	customTitle=`${release.artists[0]} - ${release.title}`
	color={color}
>
	<NavBar transition:persist />
	<section class="min-h-screen flex flex-col text-white w-full relative">
		<header class="flex flex-col justify-end w-full relative ">
			<div
				class="z-1 px-16 md:pt-24 flex flex-col md:flex-row justify-end items-center md:items-star"
			>
				<img
					id="img"
					class="w-96 order-2 md:order-1 transition transform"
					src={img}
					draggable="false"
					transition:name=`image-${frontmatter.id}`
				/>
				<div
					class="flex flex-col md:pl-8 py-8 pt-24 order-1 md:order-2 w-full"
				>
					<h1
						transition:name=`title-${frontmatter.id}`
						class="font-bold text-6xl text-wrap md:text-7xl pb-4 break-words break-all md:break-normal"
					>
						{release.title}
					</h1>
					<h3
						transition:name=`artists-${frontmatter.id}`
						class="text-2xl md:text-4xl text-wrap font-thin break-words break-all md:break-normal"
					>
						{release.artists.join(", ")}
					</h3>

					<div
						transition:name=`releaseType-${frontmatter.id}`
						class="flex flex-row gap-4 py-4"
					>
						<h4 class="text-2xl capitalize">
							{release.type}
						</h4>
						<span>·</span>
						<h4
							transition:name=`dateRelease-${frontmatter.id}`
							class="text-2xl"
						>
							{dateRelease}
						</h4>
					</div>
					<h4 class="text-3xl">{release.rate}⭐</h4>
				</div>
			</div>
		</header>
		<slot />
	</section>
</LayoutReview>
