---
import NavBar from "../components/NavBar.astro";
import LayoutReview from "./LayoutReview.astro";

export const prerender = false; 
const { frontmatter } = Astro.props;

const release = frontmatter.data;

const dateRelease = new Date(release.releaseDate).toLocaleDateString("en-US", {
	day: "numeric",
	month: "short",
	year: "numeric",
});
const img = "https://i.scdn.co/image/ab67616d0000b273b1dbf375b392d50ed12e5a0b";
---

<script is:inline type="module">
	import { getDominantColor } from "../../node_modules/@rtcoder/dominant-color";

	const imgElement = document.querySelector("#img");
	const body = document.querySelector("body");

	let colorDominant = "";
	getDominantColor(imgElement, {
		downScaleFactor: 128,
		skipPixels: 1,
		colorsPaletteLength: 10,
		paletteWithCountOfOccurrences: false,
		colorFormat: "hex",
		callback: (color, palette) => {
			colorDominant = palette[9];
			body.style.background = `rgb(${colorDominant})`;
		},
	});
</script>

<LayoutReview customTitle=`${release.artists[0]} - ${release.title}`>
	<NavBar />
	<section class="min-h-screen flex flex-col text-white w-full relative">
		<header class="flex flex-col items-start justify-end w-full relative">
			<!--<img
				class="absolute z-0 w-full blur-3xl object-cover h-full"
				src="https://i.scdn.co/image/ab67616d0000b273cf99b38d37e2680f7dec6c9b"
				draggable="false"
				
			/>-->

			<div
				class="z-1 px-16 md:pt-24 flex flex-col md:flex-row justify-end items-center md:items-star"
			>
				<img
					id="img"
					class="w-96 order-2 md:order-1 transition transform"
					src={img}
					draggable="false"
					transition:name=`image-${frontmatter.id}`
				/>
				<div
					class="flex flex-col md:pl-8 py-8 pt-24 order-1 md:order-2 w-full"
				>
					<h1
						transition:name=`title-${frontmatter.id}`
						class="font-bold text-6xl text-wrap md:text-7xl pb-4 break-words break-all md:break-normal"
					>
						{release.title}
					</h1>
					<h3
						transition:name=`artists-${frontmatter.id}`
						class="text-2xl md:text-4xl text-wrap font-thin break-words break-all md:break-normal"
					>
						{release.artists.join(", ")}
					</h3>

					<div
						transition:name=`releaseType-${frontmatter.id}`
						class="flex flex-row gap-4 py-4"
					>
						<h4 class="text-2xl capitalize">
							{release.type}
						</h4>
						<span>·</span>
						<h4
							transition:name=`dateRelease-${frontmatter.id}`
							class="text-2xl"
						>
							{dateRelease}
						</h4>
					</div>
					<h4 class="text-3xl">{release.rate}⭐</h4>
				</div>
			</div>
		</header>
		<slot />
	</section>
</LayoutReview>
